body, html {
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

body #bg {
  -webkit-clip-path: polygon(100% 0, 100% 88%, 47% 90%, 0 90%, 0 0);
          clip-path: polygon(100% 0, 100% 88%, 47% 90%, 0 90%, 0 0);
  background-color: #0050ff;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  z-index: -1;
}

@media (min-width: 840px) {
  body #bg {
    -webkit-clip-path: polygon(0 0, 75% 0, 56% 100%, 0% 100%);
            clip-path: polygon(0 0, 75% 0, 56% 100%, 0% 100%);
  }
}

@media (min-width: 840px) {
  body header {
    margin-bottom: 50px;
    -webkit-box-shadow: 0 0 0 10px rgba(0, 0, 255, 0.5);
            box-shadow: 0 0 0 10px rgba(0, 0, 255, 0.5);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 30% auto;
        grid-template-columns: 30% auto;
  }
}

body header a {
  color: #ffffff;
  text-decoration: none;
  padding: 20px 15px 15px 25px;
  display: block;
  text-transform: uppercase;
}

body header nav {
  display: none;
}

@media (min-width: 840px) {
  body header nav {
    display: inline-block;
    background-color: #0050ff;
    text-align: center;
    padding: 15px;
  }
}

@media (min-width: 840px) {
  body header nav a {
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    padding: 10px;
    width: 90px;
  }
}

body header nav a:hover {
  background-color: #001033;
}

@media (min-width: 840px) {
  main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
  }
}

main section#card {
  background-color: #ffffff;
  padding: 10px;
  margin: 1em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 60%;
}

@media (min-width: 840px) {
  main section#card {
    grid-area: card;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
    width: 80%;
  }
}

main section#primary {
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

@media (min-width: 840px) {
  main section#primary {
    grid-area: primary;
    text-align: left;
    margin: 4em 0 0 4em;
  }
}

main section#primary h1 {
  font-size: 2.5em;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 840px) {
  main section#primary h1 {
    width: 40%;
    font-size: 3em;
    line-height: .9em;
  }
}

main section#primary p {
  font-size: 1.4em;
}

main section#primary a {
  color: #001033;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #DCD0D9;
  display: block;
  text-align: center;
  margin: 50px auto o auto;
  padding: 15px;
}

@media (min-width: 840px) {
  main section#primary a {
    display: inline-block;
    padding: 15px 60px;
  }
}

main section#primary a:hover {
  color: #ffffff;
  background-color: #001033;
}

div section#intro {
  width: 70%;
  height: 400px;
  margin: 80px auto 80px;
}

@media (min-width: 840px) {
  div section#intro {
    background-image: url("../image/icebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 200px auto 20px;
  }
}

div h3 {
  color: black;
  text-align: center;
}

@media (min-width: 840px) {
  div h3 {
    line-height: 2em;
  }
}

@media (min-width: 840px) {
  div ul {
    line-height: 2em;
  }
}

div.grid section#products {
  text-align: center;
  background-color: #DCD0D9;
}

@media (min-width: 840px) {
  div.grid section#products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

div.grid section#products .grid-area {
  color: #001033;
}

@media (min-width: 840px) {
  div.grid section#products .grid-area {
    width: 100%;
    height: 80%;
  }
}

div section#bulk {
  text-align: center;
  padding: 20px;
}

div a {
  color: #001033;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #DCD0D9;
  display: block;
  text-align: center;
  margin: 50px auto o auto;
  padding: 15px;
}

@media (min-width: 840px) {
  div a {
    display: inline-block;
    padding: 15px 60px;
  }
}

div a:hover {
  color: #ffffff;
  background-color: #001033;
}

footer section#footer {
  background-color: #0050ff;
  text-align: center;
  padding: 15px;
  color: #ffffff;
}

@media (min-width: 840px) {
  footer section#footer hr {
    display: none;
  }
}

@media (min-width: 840px) {
  footer section#footer p:first-child {
    float: right;
  }
}
/*# sourceMappingURL=main.css.map */