body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Times New Roman', Times, serif;
}

body #bg {
  -webkit-clip-path: polygon(100% 0, 100% 88%, 47% 90%, 0 90%, 0 0);
          clip-path: polygon(100% 0, 100% 88%, 47% 90%, 0 90%, 0 0);
  background-color: #0050ff;
  width: 100%;
  height: 100%;
  margin: auto;
  position: absolute;
  z-index: -3;
}

@media (min-width: 840px) {
  body #bg {
    -webkit-clip-path: polygon(0 0, 75% 0, 56% 100%, 0% 100%);
            clip-path: polygon(0 0, 75% 0, 56% 100%, 0% 100%);
  }
}

body .nav {
  background-color: #0050ff;
  -webkit-box-shadow: 0 0 0 8px rgba(0, 0, 255, 0.5);
          box-shadow: 0 0 0 8px rgba(0, 0, 255, 0.5);
  text-align: center;
  height: 70px;
  line-height: 70px;
  margin-bottom: 50px;
  margin-top: -2%;
}

body .nav h1 a {
  float: left;
  color: #ffffff;
  text-decoration: none;
  line-height: 70px;
  display: block;
  text-transform: uppercase;
  margin-left: 25px;
}

body .menu {
  margin: 0 30px 0 0;
  float: right;
}

body .menu a:hover {
  color: #ffffff;
  background-color: #001033;
}

body .menu a {
  clear: right;
  text-decoration: none;
  color: #ffffff;
  margin: 0 5px;
  line-height: 70px;
  display: inline-block;
  width: 100px;
}

body label {
  margin: 0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

body #toggle {
  display: none;
}

@media only screen and (max-width: 781px) {
  body label {
    display: block;
    cursor: pointer;
  }
  body .menu {
    background-color: #0050ff;
    text-align: center;
    width: 100%;
    display: none;
    margin: 0 auto;
  }
  body .menu a {
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
  }
  body #toggle:checked + .menu {
    display: block;
  }
}

@media (min-width: 840px) {
  body main {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% auto;
        grid-template-columns: 50% auto;
        grid-template-areas: "primary card";
  }
}

body main section#card {
  background-color: #ffffff;
  padding: 10px;
  margin: 1em auto;
  border-radius: 15px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
  width: 60%;
}

@media (min-width: 840px) {
  body main section#card {
    grid-area: card;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    margin: 1em;
    width: 80%;
  }
}

body main section#primary {
  color: #ffffff;
  padding: 15px;
  text-align: center;
}

@media (min-width: 840px) {
  body main section#primary {
    grid-area: primary;
    text-align: left;
    margin: 4em 0 0 4em;
  }
}

body main section#primary h1 {
  font-size: 2.5em;
  margin-top: 10px;
  text-transform: uppercase;
}

@media (min-width: 840px) {
  body main section#primary h1 {
    width: 40%;
    font-size: 3em;
    line-height: .9em;
  }
}

body main section#primary p {
  font-size: 1.4em;
}

body main section#primary a {
  color: #001033;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #DCD0D9;
  display: block;
  text-align: center;
  margin: 50px auto o auto;
  padding: 15px;
}

@media (min-width: 840px) {
  body main section#primary a {
    display: inline-block;
    padding: 15px 60px;
  }
}

body main section#primary a:hover {
  color: #ffffff;
  background-color: #001033;
}

body div section#intro {
  width: 70%;
  height: 400px;
  margin: 80px auto 80px;
}

@media (min-width: 840px) {
  body div section#intro {
    background-image: url("../image/icebg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 200px auto 20px;
  }
}

body div h3 {
  color: black;
  text-align: center;
}

@media (min-width: 840px) {
  body div h3 {
    line-height: 2em;
  }
}

@media (min-width: 840px) {
  body div ul {
    line-height: 2em;
  }
}

body div.grid section#products {
  text-align: center;
  background-color: #DCD0D9;
}

@media (min-width: 840px) {
  body div.grid section#products {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

body div.grid section#products .grid-area {
  color: #001033;
}

@media (min-width: 840px) {
  body div.grid section#products .grid-area {
    width: 100%;
    height: 80%;
  }
}

body div section#bulk {
  text-align: center;
  padding: 20px;
}

body div section#bulk a {
  color: #001033;
  border-radius: 15px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #DCD0D9;
  display: block;
  text-align: center;
  margin: 50px auto o auto;
  padding: 15px;
}

@media (min-width: 840px) {
  body div section#bulk a {
    display: inline-block;
    padding: 15px 60px;
  }
}

body div section#bulk a:hover {
  color: #ffffff;
  background-color: #001033;
}

body footer section#footer {
  background-color: #0050ff;
  text-align: center;
  padding: 15px;
  color: #ffffff;
}

@media (min-width: 840px) {
  body footer section#footer hr {
    display: none;
  }
}

@media (min-width: 840px) {
  body footer section#footer p:first-child {
    float: right;
  }
}
/*# sourceMappingURL=main.css.map */